<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s2.notice.NoticeDAO">

<update id="setNoticeHit" parameterType="NoticeDTO">
UPDATE NOTICE SET HIT =HIT+1 WHERE NUM =#{num}
</update>
	<select id="getNoticeCount" resultType="Long"
		parameterType="Pager">
		SELECT count(num) count FROM NOTICE
	</select>
	<select id="getNoticeList" parameterType="Pager"
		resultType="NoticeDTO">
		SELECT * FROM
		(SELECT ROWNUM R, N.*
		FROM (SELECT * FROM NOTICE
		<if test="kind =='contents'">
			WHERE CONTENTS LIKE '%' || #{search} || '%'
		</if>
		<if test="kind =='title'">
			WHERE TITLE LIKE '%' || #{search} || '%'
		</if>
		<if test="kind =='writer'">
			WHERE WRITER LIKE '%' || #{search} || '%'
		</if>

		ORDER BY NUM DESC) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>


	<select id="getNoticeDetail" resultMap="noticeDetailResult"
		parameterType="NoticeDTO">
		SELECT N.*, I.*
		FROM NOTICE N
		LEFT OUTER JOIN
		NOTICEIMG I
		ON
		(N.NUM = I.NUM)
		WHERE N.NUM=#{num}

	</select>
	<resultMap type="NoticeDTO" id="noticeDetailResult">
		<id column="NUM" property="num" />
		<result column="TITLE" property="title" />
		<result column="CONTENTS" property="contents" />
		<result column="WRITER" property="writer" />

		<result column="HIT" property="hit" />

		<association property="noticeImgDTO"
			javaType="noticeImgDTO">
			<id column="FILENUM" property="fileNum" />
			<result column="FILENAME" property="fileName" />
			<result column="ORINAME" property="oriName" />
		</association>
	</resultMap>
	<insert id="setNoticeAdd" parameterType="NoticeDTO">
		<selectKey keyProperty="noticeNum" order="BEFORE"
			resultType="Long">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE
		VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0)
	</insert>
	<delete id="setNoticeDelete" parameterType="NoticeDTO">
		DELETE FROM NOTICE
		WHERE NUM=#{num}
	</delete>
	<update id="setNoticeUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET
		TITLE =#{title}, CONTENTS
		=#{contents}, WRITER =#{writer} WHERE NUM=#{num}
	</update>

	<insert id="setNoticeImgAdd" parameterType="NoticeImgDTO">
		insert into NOTICEIMG
		VALUES (NOTICE_SEQ.NEXTVAL, #{noticeNum}, #{fileName}, #{oriName})
	</insert>
</mapper>