<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s2.notice.NoticeDAO">

<update id="setNoticeHit" parameterType="NoticeDTO">
UPDATE notice SET NOTICEHIT =NOTICEHIT+1 WHERE NOTICENUM =#{noticeNum}
</update>
	<select id="getNoticeCount" resultType="Long"
		parameterType="Pager">
		SELECT count(noticenum) count FROM NOTICE
	</select>
	<select id="getNoticeList" parameterType="Pager"
		resultType="NoticeDTO">
		SELECT * FROM
		(SELECT ROWNUM R, N.*
		FROM (SELECT * FROM NOTICE
		<if test="kind =='contents'">
			WHERE NOTICECONTENTS LIKE '%' || #{search} || '%'
		</if>
		<if test="kind =='title'">
			WHERE NOTICETITLE LIKE '%' || #{search} || '%'
		</if>
		<if test="kind =='writer'">
			WHERE NOTICEWRITER LIKE '%' || #{search} || '%'
		</if>

		ORDER BY NOTICENUM DESC) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>


	<select id="getNoticeDetail" resultMap="noticeDetailResult"
		parameterType="NoticeDTO">
		SELECT N.*, I.*
		FROM NOTICE N
		LEFT OUTER JOIN
		NOTICEIMG I
		ON
		(N.NOTICENUM = I.NOTICENUM)
		WHERE N.NOTICENUM=#{noticeNum}

	</select>
	<resultMap type="NoticeDTO" id="noticeDetailResult">
		<id column="NOTICENUM" property="noticeNum" />
		<result column="NOTICETITLE" property="noticeTitle" />
		<result column="NOTICECONTENTS" property="noticeContents" />
		<result column="NOTICEWRITER" property="noticeWriter" />

		<result column="NOTICEHIT" property="noticeHit" />

		<association property="noticeImgDTO"
			javaType="noticeImgDTO">
			<id column="FILENUM" property="fileNum" />
			<result column="FILENAME" property="fileName" />
			<result column="ORINAME" property="oriName" />
		</association>
	</resultMap>
	<insert id="setNoticeAdd" parameterType="NoticeDTO">
		<selectKey keyProperty="noticeNum" order="BEFORE"
			resultType="Long">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE
		VALUES(#{noticeNum},#{noticeTitle},#{noticeContents},#{noticeWriter},SYSDATE,0)
	</insert>
	<delete id="setNoticeDelete" parameterType="NoticeDTO">
		DELETE FROM NOTICE
		WHERE NOTICENUM=#{noticeNum}
	</delete>
	<update id="setNoticeUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE SET
		NOTICETITLE =#{noticeTitle}, NOTICECONTENTS
		=#{noticeContents},
		NOTICEWRITER =#{noticeWriter} WHERE NOTICENUM=#{noticeNum}
	</update>

	<insert id="setNoticeImgAdd" parameterType="NoticeImgDTO">
		insert into NOTICEIMG
		VALUES (NOTICE_SEQ.NEXTVAL, #{noticeNum}, #{fileName}, #{oriName})
	</insert>
</mapper>